<%- include("partials/header") -%>

<h1>Home</h1>
<p><%= paragraphHome%></p>

<div class="container-fluid mt-3">
  
  <% posts. forEach((item) => { %>
    <article class="mb-3">
      <h2 class="postHeading">
        <%= item.title %>
      </h2>
      <p><%= item.date %></p>
      <p>
        
        <%= item.content.substring(0,100) + " ..."%>
        <a href="/post/<%=item.title%>">Read more...</a>
      </p>
    </article>
  <% }) %>
  
</div>

<%- include("partials/footer") -%>